.footer {
display: flex;
padding-top: 60px;
padding-bottom: 60px;

background: var(--page-color);
  
  @media screen and (min-width: 768px) {
   display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    }
  }

.footer-list__nav {
  font-style: normal;
  line-height: 1.7;
  color: var(--slogan-text-color);
}

.footer-list{
 @media screen and (min-width: 1200px) {
  margin-top: 20px;
  }
}

.footer-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
    }

  @media screen and (min-width: 1200px) {
  margin-bottom: 9px;
  }
}

.footer-list__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 9px;
  margin-bottom: 9px;

  color: var(--contact-text-color);
}
.logo {
  @media screen and (max-width: 767px) {
  margin-bottom: 20px;
  } 
}
.logo__thumb {
  color: var(--slogan-text-color);
}

/*присоединяйтесь*/

.footer__container {
display: block;

  @media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
}

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

} 

.footer__logo {
text-align: center;
margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    }
} 

.sidebar {
text-align: center;

@media screen and (min-width: 768px) {
margin-left: auto;
}
}

.sidebar__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  

  color: var(--slogan-text-color) ;
}
.sidebar__list {
  display: flex;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
   justify-content: center;
  }
}
.sidebar__item:not(:last-child) {
 margin-right: 10px;
}
.sidebar__media {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill:var(--slogan-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--acsent-text-color);
  }
}


/* footer form*/
.footer-form {
  text-align: center;
  margin-top: 60px;
 
  @media screen and (min-width: 768px) {
  margin-left: auto;
  margin-right: auto;
  }

   @media screen and (min-width: 1200px) {
  margin-left: auto;
  }
}

.footer-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--slogan-text-color);

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer-form__field {
@media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-form__label{
@media screen and (min-width: 1200px) {
    margin-right: 12px;
    }
}

.footer-form__input {
  width: 450px; 
  height: 50px;

  padding-left: 16px;
  margin-bottom: 20px;

  color: var(--aside-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  @media screen and (min-width: 767px) {
  width: 450px; 
  margin-bottom: 20px;
  }

    @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 29px;
  border: none;
  border-radius: 4px;

  width: 200px;
  height: 50px; 
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  color: var(--slogan-text-color);
  background-color: var(--title-hover-color); 

  &:hover,
  &:focus {
    background-color: var(--acsent-text-color);
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    }

    @media screen and (mix-width: 768px) {
      
      }
}
